<!DOCTYPE html>
<html xmlms="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="/crearEstudiante">Crear Estudiante</a></li>
            <li><a href="/listarEstudiantes">Lista de Estudiantes</a></li>
        </ul>
    </nav>
    <div class="container col-sm-12 col-md-6 col-md-offset-2">
        <table class="table table-dark">
            <tr>
                <th>Matrícula</th>
                <th>Nombre</th>
                <th>Teléfono</th>



            </tr>
            <tr th:each="est: ${lista}">
                <td th:text="${est.matricula}"></td>
                <td th:text="${est.nombre}"></td>
                <td th:text="${est.telefono}"></td>
                <td>
                    <a th:href="@{/editarEstudiante(matricula=${est.matricula})}">Editar</a>&nbsp;&nbsp;
                    <a th:href="@{/borrarEstudiante(matricula=${est.matricula})}">Eliminar</a>
                </td>

            </tr>
        </table>
    </div>
</body>
</html>